* {
  box-sizing: border-box;
}

h1, h2, h3,
h4, h5, p {
  font-family: 'Helvetica', Arial, sans-serif;
}

li {
  list-style: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.box {
  border: 2px solid #eee;
}

.compose.textbox {
  width: 98%;
  height: 6em;
  /*margin-left: 2%;*/
  /*margin-right: 2%;*/
}

.textboxContainer {
  text-align: center;
}

.posts {
  padding-left: 0;
}
.post {
  max-width: 98%;
  margin: 0 auto;
}
