/*
rgb(247,18,74);
rgb(214,15,164);
rgb(209,29,237);
rgb(133,15,214);
rgb(91,18,247);
rgb(58,106,232);
rgb(77,173,255);
rgb(58,198,232);
 whitesmoke;
 font-family: 'Righteous', cursive;
 font-family: 'Roboto', sans-serif;
*/

 /* ----------------flags---------------------------V */
* {
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
}
header{
  /* padding: 0; */
  font-family: 'Righteous', cursive;
  font-size: 2em;
  background-color: rgb(58,198,232);
  border-top: 6px groove rgb(133,15,214);
  border-bottom: 6px ridge rgb(133,15,214);
  width: 100%;
  color: rgb(247,18,74);
}
h1{
  margin-top: 10px;
  margin-bottom: 10px;
}


h1, h2, h3,
h4, h5, p {
  /* font-family: 'Helvetica', Arial, sans-serif; */
}


li {
  list-style: none;
}

.thumbs p {
  display: inline;
}







/* ---------------flags----------------------------^ */
/* ---------------classes--------------------------V */


.center{
  text-align: center;
}
.heading{
  text-align: center;
}
.nudgeright{
  position: relative;
  left: 20px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.box {
  border: 2px solid #eee;
}

.compose.textbox {
  width: 98%;
  height: 6em;
  /*margin-left: 2%;*/
  /*margin-right: 2%;*/
}

.textboxContainer {
  text-align: center;
}

.posts {
  padding-left: 0;
}
.post {
  max-width: 98%;
  margin: 0 auto;
}
/* //----------------------classes-------------------------^ */
