<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ski Patrol</title>
    <link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
    <link href='css/project3-style.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Righteous|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://unpkg.com/jquery'></script>
    <script src='https://unpkg.com/vue'></script>
  </head>

  <body>

    <header class="heading">
      <h1>Ski Report</h1>
    </header>
    <!-- Vue Container -->
    <main id='app'>
      <!-- CONTAINER -->
      <div class='container'>
        <!-- MESSAGE BOX -->
        <div class='compose box center'>
          <h2>What's going on?</h2>
          <div class='textboxContainer'>
            <textarea class='compose textbox' v-model='newPostText' placeholder="Type your post here..."></textarea>
            <div class='tags'>
              <form>
                <input type='radio' name='tagSelector' value='breck' id='breck'><label for='breck' class='breckmark'>Breck </label>
                <input type='radio' name='tagSelector' value='eldora' id='eldora'><label for='eldora' class='eldoramark'>Eldora</label>
                <input type='radio' name='tagSelector' value='copper' id='copper'><label for='copper' class='coppermark'>Copper</label>
                <input type='radio' name='tagSelector' value='abasin' id='abasin'><label for='abasin' class='abasinmark'>A Basin</label>
                <input type='radio' name='tagSelector' value='keystone' id='keystone'><label for='keystone' class='keystonemark'>Keystone</label>
                <input type='radio' name='tagSelector' value='vail' id='vail'><label for='vail' class='vailmark'>Vail</label>
                <input type='radio' name='tagSelector' value='aspen' id='aspen'><label for='aspen' class='aspenmark'>Aspen</label>
              </form>
            </div>
          </div>
          <button @click='submitPost()'>Post!</button>
        </div>
        <!-- POSTED MESSAGES -->
        <section class="feed box">
          <h2 class="nudgeright">Recent Ski Reports</h2>
          <ul class="posts">

            <li class='post box' v-for='post, i in posts'>
              <div :class='tagClass(i)'>
                <p class="nudgeright">{{post.content}}</p>
                <div class='thumbs nudgeright'>
                  <i class='fa fa-thumbs-o-up' @click='addThumbUp(i)'></i><p>{{post.ups}}</p>
                  <i class='fa fa-thumbs-o-down' @click='addThumbDown(i)'></i><p>{{post.downs}}</p>
                  <i class='fa fa-reply'></i>
                </div>

              </div>

            </li>
          </ul>
        </section>
        <!-- REPLIES -->
      </div>
    </main>

    <script src='js/project3-main.js'></script>
  </body>

</html>